li#application-testapp-display-component---View2--_IDGenObjectListItem1 {
    padding: 30px;
}
div#application-testapp-display-component---View2--_IDGenIconTabBar1-content {
    padding: 25px;
}
div#application-testapp-display-component---View2--_IDGenVBox1 {
    padding: 25px;
    /* margin: 10px; */
}
div#application-testapp-display-component---View2--_IDGenHBox1 {
      padding: 3px;
}
div#application-testapp-display-component---View2--_IDGenHBox2 {
      padding: 3px;
}
div#application-testapp-display-component---View2--_IDGenHBox3 {
      padding: 3px;
}
div#application-testapp-display-component---View2--_IDGenHBox4 {
    padding: 3px;
}
div#application-testapp-display-component---View2--_IDGenHBox5 {
      padding: 3px;
}
div#application-testapp-display-component---View2--_IDGenHBox6 {
    padding: 3px;
}